
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    scroll-behavior: smooth;
    font-size: 70%;
}

body {
    text-align: center;
}
