* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  scroll-behavior: smooth;
  font-size: 70%;
}

body {
  text-align: center;
}

#content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
    padding: 15px 0px;
    border-bottom: 1px solid rgb(153, 184, 203);
}

.main {
  flex: 1 0 auto;
  padding: 100px 0;
}
